body{
    background-color: rgb(255, 180, 137);
    font-family:'Times New Roman', Times, serif;
    font-size: 16px; color: rgb(165, 42, 42);
    font-weight: 400px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

ol{
    display: inline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

  th {
    background-color: rgb(255, 180, 180);
    color: rgb(0, 0, 0);
}

td{
    background-color: blanchedalmond;
}

ul{
    display: block;
}

a{
    color: rgb(0, 20, 75);
    text-decoration: none;
    font-weight: bold;
}
form{
    margin: auto;
    padding: 16px;

}

input, textarea{
    background-color: rgb(255, 196, 196);
    text-align: center; color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}

nav a{
    text-decoration: none;
    color: rgb(250, 171, 171);
    font-weight: bold;
    margin-right: 15px;

}

header, nav > body{
    background-color: rgb(51, 0, 0);
    padding: 10px;
    text-transform: uppercase;
}
